<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/account/register" method="post">
    <fieldset>
        <label>First name: <input type="text" name="account_firstname" required value="<%= locals.account_firstname %>"></label>
        <label>Last name: <input type="text" name="account_lastname" required value="<%= locals.account_lastname %>"></label>
        <label>Email: <input type="email" name="account_email" required value="<%= locals.account_email %>"></label>
        <label>Password: <input type="password" name="account_password" id="pword" required minlength="12" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{12,}$"></label>
        <div>
            <span>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character.</span>
        </div>
        <button id="pswdBtn">Show Password</button>
        <label>
            <input type="submit" value="Register">
        </label>
        
    </fieldset>
</form>

<script src="/js/script.js"></script>